{extend name="base" /}

{block name="title"}<title>资源中心-期末作业-PHP作业-MySQL作业</title>{/block}
{block name="css"}
<link rel="stylesheet" type="text/css" href="__STATIC__/index/css/main.css">

{/block}

{block name="body"}

<div class="heloved-wrap">
    
</div>

<div class="heloved-wrap index-box-shadow resource-hot">
    <div class="freshresource">
        <div class="freshresource-title">每一节课都有一种新奇的感觉</div>
        <ul>
            
            <li>
                <a href="#" target="_blank">
                    <img width="100%" alt="分享：HTML5离线应用实战演练" title="分享：HTML5离线应用实战演练" src="http://img.mukewang.com/5305da0d0001ab9306000338-300-170.jpg">
                    <h5>分享：HTML5离线应用实战演练...</h5>
                    <p>FT Web App是少数真正实现了离线阅读体验的移动应用之一，一起来剖析它的技术吧！ </p>
                    <div class="tips"><span class="l">39人下载</span> <span class="r">下载积分：10</span></div>
                </a>
            </li>
            <li>
                <a href="#" target="_blank">
                    <img width="100%" alt="分享：移动优先的跨终端 Web" title="分享：移动优先的跨终端 Web" src="http://img.mukewang.com/52e618d80001a7e106000338-300-170.jpg">
                    <h5>分享：移动优先的跨终端 Web</h5>
                    <p>不可多得的学习宝典，移动互联时代，您必须知道的跨终端技术。</p>
                    <div class="tips"><span class="l">261人下载</span> <span class="r">下载积分：10</span></div>
                </a>
            </li>
            <li>
                <a href="#" target="_blank">
                    <img width="100%" height="170" alt="分享：响应式布局" title="分享：响应式布局" src="http://img.mukewang.com/52e5ed2300011d2706000338-300-170.jpg">
                    <h5>分享：响应式布局</h5>
                    <p>让网站兼容不同终端不再是梦，为解决移动互联网浏览而诞生。</p>
                    <div class="tips"><span class="l">148人下载</span> <span class="r">下载积分：10</span></div>
                </a>
            </li>
            <li>
                <a href="#" target="_blank">
                    <img width="100%" alt="案例：表单美化" title="案例：表单美化" src="http://img.mukewang.com/52e5f6ef000114ab06000338-300-170.jpg">
                    <h5>案例：表单美化</h5>
                    <p>追求不凡，一次学习四类表单控件的美化，让所有平淡的表单控件瞬间美好起来！</p>
                    <div class="tips"><span class="l">105人下载</span> <span class="r">下载积分：10</span></div>
                </a>
            </li>
            <li>
                <a href="#" target="_blank">
                    <img width="280" height="170" alt="案例：表单验证" title="案例：表单验证" src="http://img.mukewang.com/52e62c09000162fd06000338-300-170.jpg">
                    <h5>案例：表单验证</h5>
                    <p>技术升级必修内容！ 通过对学习输入框的验证，轻松掌握正则表达式的用法！</p>
                    <div class="tips"><span class="l">81人下载</span> <span class="r">下载积分：10</span></div>
                </a>
            </li>
            <li>
                <a href="#" target="_blank">
                    <img width="100%" alt="案例：表单美化" title="案例：表单美化" src="http://img.mukewang.com/52e5f6ef000114ab06000338-300-170.jpg">
                    <h5>案例：表单美化</h5>
                    <p>追求不凡，一次学习四类表单控件的美化，让所有平淡的表单控件瞬间美好起来！</p>
                    <div class="tips"><span class="l">105人下载</span> <span class="r">下载积分：10</span></div>
                </a>
            </li>
            <li>
                <a href="" target="_blank">
                    <img width="280" height="170" alt="案例：表单验证" title="案例：表单验证" src="http://img.mukewang.com/52e62c09000162fd06000338-300-170.jpg">
                    <h5>案例：表单验证</h5>
                    <p>技术升级必修内容！ 通过对学习输入框的验证，轻松掌握正则表达式的用法！</p>
                    <div class="tips"><span class="l">81人访问</span> <span class="r">下载人次：2</span></div>
                </a>
            </li>
            <li>
                <a href="http://120.78.162.99/18-10-29/ybwy/index.php" target="_blank">
                    <img width="100%" alt="IT菜鸟逆袭指南（江湖篇）" title="IT菜鸟逆袭指南（江湖篇）" src="http://img.mukewang.com/530c732400013e5106000338-300-170.jpg">
                    <h5>留言板（管理员和普通用户）</h5>
                    <p>登录注册、用户管理、留言管理、案例管理</p>
                    <div class="tips"><span class="l">2018-10-20</span> <span class="r"> 1人下载 下载积分：10</span></div>
                </a>
            </li>
            <li>
                <a href="http://120.78.162.99/18-10-29/ybwy/index.php" target="_blank">
                    <img width="100%" alt="IT菜鸟逆袭指南（江湖篇）" title="IT菜鸟逆袭指南（江湖篇）" src="http://img.mukewang.com/530c732400013e5106000338-300-170.jpg">
                    <h5>留言板（管理员和普通用户）</h5>
                    <p>登录注册、用户管理、留言管理、案例管理</p>
                    <div class="tips"><span class="l">2018-10-20</span> <span class="r"> 1人下载 下载积分：10</span></div>
                </a>
            </li>
            <li>
                <a href="http://120.78.162.99/18-10-20/xfzbgl/admin/login.php" target="_blank">
                    <img width="100%" alt="IT菜鸟逆袭指南（江湖篇）" title="IT菜鸟逆袭指南（江湖篇）" src="http://img.mukewang.com/530c732400013e5106000338-300-170.jpg">
                    <h5>消防装备管理系统</h5>
                    <p>屌爆了！码农逆袭有秘诀，看“挨踢（IT）”小菜鸟慕无忌如何成为技术“土豪”。</p>
                    <div class="tips"><span class="l">2018-10-20</span> <span class="r"> 1人下载 下载积分：10</span></div>
                </a>
            </li>
            <li>
                <a href="#" target="_blank">
                    <img width="100%" alt="分享：HTML5离线应用实战演练" title="分享：HTML5离线应用实战演练" src="http://img.mukewang.com/5305da0d0001ab9306000338-300-170.jpg">
                    <h5>分享：HTML5离线应用实战演练...</h5>
                    <p>FT Web App是少数真正实现了离线阅读体验的移动应用之一，一起来剖析它的技术吧！ </p>
                    <div class="tips"><span class="l">39人下载</span> <span class="r">下载积分：10</span></div>
                </a>
            </li>
            <li>
                <a href="#" target="_blank">
                    <img width="100%" alt="分享：移动优先的跨终端 Web" title="分享：移动优先的跨终端 Web" src="http://img.mukewang.com/52e618d80001a7e106000338-300-170.jpg">
                    <h5>分享：移动优先的跨终端 Web</h5>
                    <p>不可多得的学习宝典，移动互联时代，您必须知道的跨终端技术。</p>
                    <div class="tips"><span class="l">261人下载</span> <span class="r">下载积分：10</span></div>
                </a>
            </li>
            <li>
                <a href="#" target="_blank">
                    <img width="100%" height="170" alt="分享：响应式布局" title="分享：响应式布局" src="http://img.mukewang.com/52e5ed2300011d2706000338-300-170.jpg">
                    <h5>分享：响应式布局</h5>
                    <p>让网站兼容不同终端不再是梦，为解决移动互联网浏览而诞生。</p>
                    <div class="tips"><span class="l">148人下载</span> <span class="r">下载积分：10</span></div>
                </a>
            </li>
            <li>
                <a href="#" target="_blank">
                    <img width="100%" alt="案例：表单美化" title="案例：表单美化" src="http://img.mukewang.com/52e5f6ef000114ab06000338-300-170.jpg">
                    <h5>案例：表单美化</h5>
                    <p>追求不凡，一次学习四类表单控件的美化，让所有平淡的表单控件瞬间美好起来！</p>
                    <div class="tips"><span class="l">105人下载</span> <span class="r">下载积分：10</span></div>
                </a>
            </li>
            <li>
                <a href="#" target="_blank">
                    <img width="280" height="170" alt="案例：表单验证" title="案例：表单验证" src="http://img.mukewang.com/52e62c09000162fd06000338-300-170.jpg">
                    <h5>案例：表单验证</h5>
                    <p>技术升级必修内容！ 通过对学习输入框的验证，轻松掌握正则表达式的用法！</p>
                    <div class="tips"><span class="l">81人下载</span> <span class="r">下载积分：10</span></div>
                </a>
            </li>
            <li>
                <a href="#" target="_blank">
                    <img width="100%" alt="案例：表单美化" title="案例：表单美化" src="http://img.mukewang.com/52e5f6ef000114ab06000338-300-170.jpg">
                    <h5>案例：表单美化</h5>
                    <p>追求不凡，一次学习四类表单控件的美化，让所有平淡的表单控件瞬间美好起来！</p>
                    <div class="tips"><span class="l">105人下载</span> <span class="r">下载积分：10</span></div>
                </a>
            </li>
            <li>
                <a href="" target="_blank">
                    <img width="280" height="170" alt="案例：表单验证" title="案例：表单验证" src="http://img.mukewang.com/52e62c09000162fd06000338-300-170.jpg">
                    <h5>案例：表单验证</h5>
                    <p>技术升级必修内容！ 通过对学习输入框的验证，轻松掌握正则表达式的用法！</p>
                    <div class="tips"><span class="l">81人访问</span> <span class="r">下载人次：2</span></div>
                </a>
            </li>
            <li>
                <a href="http://120.78.162.99/18-10-29/ybwy/index.php" target="_blank">
                    <img width="100%" alt="IT菜鸟逆袭指南（江湖篇）" title="IT菜鸟逆袭指南（江湖篇）" src="http://img.mukewang.com/530c732400013e5106000338-300-170.jpg">
                    <h5>留言板（管理员和普通用户）</h5>
                    <p>登录注册、用户管理、留言管理、案例管理</p>
                    <div class="tips"><span class="l">2018-10-20</span> <span class="r"> 1人下载 下载积分：10</span></div>
                </a>
            </li>
            <li>
                <a href="http://120.78.162.99/18-10-29/ybwy/index.php" target="_blank">
                    <img width="100%" alt="IT菜鸟逆袭指南（江湖篇）" title="IT菜鸟逆袭指南（江湖篇）" src="http://img.mukewang.com/530c732400013e5106000338-300-170.jpg">
                    <h5>留言板（管理员和普通用户）</h5>
                    <p>登录注册、用户管理、留言管理、案例管理</p>
                    <div class="tips"><span class="l">2018-10-20</span> <span class="r"> 1人下载 下载积分：10</span></div>
                </a>
            </li>
            <li>
                <a href="http://120.78.162.99/18-10-20/xfzbgl/admin/login.php" target="_blank">
                    <img width="100%" alt="IT菜鸟逆袭指南（江湖篇）" title="IT菜鸟逆袭指南（江湖篇）" src="http://img.mukewang.com/530c732400013e5106000338-300-170.jpg">
                    <h5>消防装备管理系统</h5>
                    <p>屌爆了！码农逆袭有秘诀，看“挨踢（IT）”小菜鸟慕无忌如何成为技术“土豪”。</p>
                    <div class="tips"><span class="l">2018-10-20</span> <span class="r"> 1人下载 下载积分：10</span></div>
                </a>
            </li>
            <li>
                <a href="#" target="_blank">
                    <img width="100%" alt="分享：HTML5离线应用实战演练" title="分享：HTML5离线应用实战演练" src="http://img.mukewang.com/5305da0d0001ab9306000338-300-170.jpg">
                    <h5>分享：HTML5离线应用实战演练...</h5>
                    <p>FT Web App是少数真正实现了离线阅读体验的移动应用之一，一起来剖析它的技术吧！ </p>
                    <div class="tips"><span class="l">39人下载</span> <span class="r">下载积分：10</span></div>
                </a>
            </li>
            <li>
                <a href="#" target="_blank">
                    <img width="100%" alt="分享：移动优先的跨终端 Web" title="分享：移动优先的跨终端 Web" src="http://img.mukewang.com/52e618d80001a7e106000338-300-170.jpg">
                    <h5>分享：移动优先的跨终端 Web</h5>
                    <p>不可多得的学习宝典，移动互联时代，您必须知道的跨终端技术。</p>
                    <div class="tips"><span class="l">261人下载</span> <span class="r">下载积分：10</span></div>
                </a>
            </li>
            <li>
                <a href="#" target="_blank">
                    <img width="100%" height="170" alt="分享：响应式布局" title="分享：响应式布局" src="http://img.mukewang.com/52e5ed2300011d2706000338-300-170.jpg">
                    <h5>分享：响应式布局</h5>
                    <p>让网站兼容不同终端不再是梦，为解决移动互联网浏览而诞生。</p>
                    <div class="tips"><span class="l">148人下载</span> <span class="r">下载积分：10</span></div>
                </a>
            </li>
            <li>
                <a href="http://120.78.162.99/18-11-06_techan/" target="_blank">
                    <img width="100%" alt="案例：表单美化" title="案例：表单美化" src="http://img.mukewang.com/52e5f6ef000114ab06000338-300-170.jpg">
                    <h5>小灰灰特产</h5>
                    <p>前台
1、登陆注册，
2、在线留言
4、商品分类显示
3、订单添加、显示

 后台
1、登录
2、商品管理 </p>
                    <div class="tips"><span class="l">105人下载</span> <span class="r">下载积分：10</span></div>
                </a>
            </li>
            <li>
                <a href="http://120.78.162.99/18-11-05_car/" target="_blank">
                    <img width="280" height="170" alt="案例：表单验证" title="案例：表单验证" src="http://img.mukewang.com/52e62c09000162fd06000338-300-170.jpg">
                    <h5>汽车功能</h5>
                    <p>前台1、用户登录注册2、商品列表 、商品详情页面 后台 1、管理员登录 2、汽车增删改查</p>
<!--                    <div class="tips"><span class="l">81人下载</span> <span class="r">下载积分：10</span></div>-->
                    <div class="tips"><span class="l">2018-11-05</span> <span class="r"> 0人下载 下载积分：10</span></div>
                </a>
            </li>
            <li>
                <a href="http://120.78.162.99/18-11-05/gxybysj/index.php" target="_blank">
                    <img width="100%" alt="案例：表单美化" title="案例：表单美化" src="http://img.mukewang.com/52e5f6ef000114ab06000338-300-170.jpg">
                    <h5>音乐咖啡厅</h5>
                    <p>追求不凡，一次学习四类表单控件的美化，让所有平淡的表单控件瞬间美好起来！</p>
                    <div class="tips"><span class="l">2018-11-05</span> <span class="r"> 0人下载 下载积分：10</span></div>
                </a>
            </li>
            <li>
                <a href="http://120.78.162.99/18-11-03/" target="_blank">
                    <img width="280" height="170" alt="案例：表单验证" title="案例：表单验证" src="http://img.mukewang.com/52e62c09000162fd06000338-300-170.jpg">
                    <h5>电子设备商城</h5>
                    <p>登录注册（管理员表与用户表）、商品管理、用户管理、新品上市管理、无分页</p>
                    <div class="tips"><span class="l">81人访问</span> <span class="r">下载人次：2</span></div>
                </a>
            </li>
            <li>
                <a href="http://120.78.162.99/18-10-31/news/pages/user/index.php" target="_blank">
                    <img width="100%" alt="IT菜鸟逆袭指南（江湖篇）" title="IT菜鸟逆袭指南（江湖篇）" src="http://img.mukewang.com/530c732400013e5106000338-300-170.jpg">
                    <h5>新闻网站</h5>
                    <p>登录注册、新闻管理、发帖管理</p>
                    <div class="tips"><span class="l">2018-10-20</span> <span class="r"> 1人下载 下载积分：10</span></div>
                </a>
            </li>
            <li>
                <a href="http://120.78.162.99/18-10-29/ybwy/index.php" target="_blank">
                    <img width="100%" alt="IT菜鸟逆袭指南（江湖篇）" title="IT菜鸟逆袭指南（江湖篇）" src="http://img.mukewang.com/530c732400013e5106000338-300-170.jpg">
                    <h5>留言板（管理员和普通用户）</h5>
                    <p>登录注册、用户管理、留言管理、案例管理</p>
                    <div class="tips"><span class="l">2018-10-20</span> <span class="r"> 1人下载 下载积分：10</span></div>
                </a>
            </li>
            <li>
                <a href="http://120.78.162.99/18-10-20/xfzbgl/admin/login.php" target="_blank">
                    <img width="100%" alt="IT菜鸟逆袭指南（江湖篇）" title="IT菜鸟逆袭指南（江湖篇）" src="http://img.mukewang.com/530c732400013e5106000338-300-170.jpg">
                    <h5>消防装备管理系统</h5>
                    <p>屌爆了！码农逆袭有秘诀，看“挨踢（IT）”小菜鸟慕无忌如何成为技术“土豪”。</p>
                    <div class="tips"><span class="l">2018-10-20</span> <span class="r"> 1人下载 下载积分：10</span></div>
                </a>
            </li>
        </ul>
    </div>

</div>
{/block}

{block name="js"}
<script type='text/javascript' src='__STATIC__/index/js/index.js'></script>

{/block}