<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <meta name="keywords" content="首页-期末作业-PHP作业-MySQL作业">
        <meta name="description" content="首页-期末作业-PHP作业-MySQL作业首页-期末作业-PHP作业-MySQL作业首页-期末作业-PHP作业-MySQL作业">
        
        <title>{block name="title"}Base{/block}</title>
        
        {load href="__STATIC__/layui/css/layui.css"}

        {load href="__STATIC__/index/js/jquery-1.11.1.min.js"}
        {load href="__STATIC__/layui/layui.js"}
        
        {block name="css"}{/block}
        {block name="script"}{/block}

        <script>
                //一般直接写在一个js文件中
                layui.use(['layer', 'form'], function () {
                    var layer = layui.layer
                            , form = layui.form;
    
                    //layer.msg('Hello World');
                });
            </script>

    </head>
    <body>

        {//include file="public::header" /}
        {//include file="public:header" /}
        
        {//include file="public:top" /}
        {include file="public/nav" /}

        <!-- 你的HTML代码 -->
        {block name="body"}{/block}
        <!-- 你的HTML代码 -->
        
        {include file="public:footer" /}

        
        
        {block name="js"}{/block}
    </body>
</html>