<!--尾部信息-->
<!--<footer>
    <ul class="share-group">
        <li>
            <a href="#">GitHub</a>
        </li>
        <li>
            <a href="#">博客园</a>
        </li>
        <li>
            <a href="#">其他</a>
        </li>
        <li>
            <a href="#">其他</a>
        </li>
        <li>
            <a href="#">引用说明</a>
        </li>
    </ul>
    <div class="copy">
        <p>&copy; ZzHao - 2017</p>
    </div>
</footer>-->

<!-- 底部版权区 start -->
<div class="copyright">
    <div class="copyright_content">
        <ul>
            <li>
                <a href="">关于</a>
                <ul>
                    <li>子列表</li>
                    <li>子列表</li>
                    <li>子列表</li>
                    <li>子列表</li>
                </ul>
            </li>
            <li>
                <a href="">课程</a>
                <ul>
                    <li>子列表</li>
                    <li>子列表</li>
                    <li>子列表</li>
                    <li>子列表</li>
                </ul>
            </li>
            <li>
                <a href="">留言</a>
                <ul>
                    <li>子列表</li>
                    <li>子列表</li>
                    <li>子列表</li>
                    <li>子列表</li>
                </ul>
            </li>
            <li>
                <a href="">关注</a>
                <ul>
                    <li>子列表</li>
                    <li>子列表</li>
                    <li>子列表</li>
                    <li>子列表</li>
                </ul>
            </li>
            <li>
                <a href=""><img src="images/weixin.png" alt="">微信关注</a>
                <ul>
                    <li></li>
                </ul>
            </li>
        </ul>
    </div>
</div>

<!-- 底部版权区 end -->